{% extends 'base.html' %}
{% block title %}sign in{% endblock %}

{% block content %}
<div class="container mt-3">
  <h2 id="1">Enter login:</h2>
  <form action="/signin" method="POST">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    <div class="mb-3">
      <label for="pwd">Confirm password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Confirm password" name="pswd2">
    <button type="submit" class="btn btn-outline-primary btn.lg">Submit</button>
  </form>
</div>
{% endblock %}
